.light {
  --md-sys-color-primary: rgb(165 0 22);
  --md-sys-color-surface-tint: rgb(192 0 27);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(226 35 45);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(169 53 51);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 132 124);
  --md-sys-color-on-secondary-container: rgb(69 0 4);
  --md-sys-color-tertiary: rgb(118 68 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(169 100 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(40 23 22);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(40 23 22);
  --md-sys-color-surface-variant: rgb(255 218 215);
  --md-sys-color-on-surface-variant: rgb(93 63 61);
  --md-sys-color-outline: rgb(145 111 108);
  --md-sys-color-outline-variant: rgb(230 189 185);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(63 43 42);
  --md-sys-color-inverse-on-surface: rgb(255 237 235);
  --md-sys-color-inverse-primary: rgb(255 179 173);
  --md-sys-color-primary-fixed: rgb(255 218 215);
  --md-sys-color-on-primary-fixed: rgb(65 0 4);
  --md-sys-color-primary-fixed-dim: rgb(255 179 173);
  --md-sys-color-on-primary-fixed-variant: rgb(147 0 18);
  --md-sys-color-secondary-fixed: rgb(255 218 215);
  --md-sys-color-on-secondary-fixed: rgb(65 0 4);
  --md-sys-color-secondary-fixed-dim: rgb(255 179 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(136 29 30);
  --md-sys-color-tertiary-fixed: rgb(255 220 189);
  --md-sys-color-on-tertiary-fixed: rgb(44 22 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 184 110);
  --md-sys-color-on-tertiary-fixed-variant: rgb(105 60 0);
  --md-sys-color-surface-dim: rgb(243 211 207);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 239);
  --md-sys-color-surface-container: rgb(255 233 231);
  --md-sys-color-surface-container-high: rgb(255 226 223);
  --md-sys-color-surface-container-highest: rgb(252 219 216);
  --md-extended-color-warning-color: rgb(119 90 0);
  --md-extended-color-warning-on-color: rgb(255 255 255);
  --md-extended-color-warning-color-container: rgb(255 199 46);
  --md-extended-color-warning-on-color-container: rgb(77 57 0);
}
